<div class="api-select">
  <%=select_tag "sales_channel_id", options_from_collection_for_select(SalesChannel.all, "id", "name"), :prompt => "Select..." %>
  <%=form.select :sales_channel_api_id, [], :prompt => "Select sales channel..." %>
</div>
<script type="text/javascript">
  var sales_channel_apis_url = "<%= sales_channel_apis_path %>.json";
</script>
